[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = It's my project
[access "refs/*"]
	owner = group user/bgramesh76
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/bgramesh76
	label-Verified = -1..+1 group user/bgramesh76
	push = group user/bgramesh76
	read = group user/bgramesh76
	rebase = group user/bgramesh76
	removeReviewer = group user/bgramesh76
	submit = group user/bgramesh76
[access "refs/heads/*"]
	create = group user/bgramesh76
	push = +force group user/bgramesh76
	pushMerge = group user/bgramesh76
	read = group user/bgramesh76
[access "refs/tags/*"]
	push = group user/bgramesh76
	push = +force group user/bgramesh76
